# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea／
*.iml
out
gen
/common/build/
/build/
/.gradle/
/gradle/
/logger/build/
.idea/inspectionProfiles/
/.idea/
/logger/logs/
/gradlew
/gradlew.bat
